/* - Very dark blue (main background): hsl(233, 47%, 7%) 
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
 - Soft violet (accent): hsl(277, 64%, 61%) 
 ### Neutral 
 - White (main heading, stats): hsl(0, 0%, 100%) 
 - Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
 - Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6) */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

*{
    box-sizing: border-box;
    padding:0;
    margin:0
}

body{
    background: hsl(233, 47%, 7%)
}


.container{
    display: flex;
    justify-content: center;
    margin: 25vh auto;
    color:white;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 0 1 500px;
    padding: 0 50px;
    background-color: hsl(244, 38%, 16%);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.container h1{
    font-family: 'Inter';
    font-weight: 700;
}

.insight{
    color:hsl(277, 64%, 61%)
}

.container p {
    font-family: 'Inter';
    Font-size: 15px;
    color: hsla(0, 0%, 100%, 0.6);
    margin-top: -70px;
    margin-bottom: -30px;
}


ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}
li{
    display: flex;
    flex-direction: column;
    gap:5px
}
li span:nth-child(1){
    font-family: 'Lexend deca';
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
}

li span:nth-child(2) {
    font-family: 'Inter';
    Font-size: 10px;
    color: hsla(0, 0%, 100%, 0.6);
}

.image{
    flex: 0 1 450px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: hsl(277, 72%, 40%)
}

img{
    
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    opacity:0.4 ; 
}


@media screen and (max-width: 575px) {


    .container{
        flex-direction: column-reverse;
        margin-left:50px;
        margin-right:50px;
        
    }


    .content 
    {
        text-align: center;
        border-top-left-radius: 0;
        border-bottom-right-radius:10px ;
        padding: 0 25px;
    }


    .content p 
    {
        margin-bottom: 10px;
    }

    .image{
        flex: 0 1 200px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0;
    }

    img{
        border-bottom-right-radius: 0;
        border-top-left-radius: 10px;
    }
    ul {
        display: flex;
        flex-direction: column;
         align-items: center;
        padding: 0; 
        gap: 15px;
        }

}